.todolist{
    display: flex;
    border: 4px;
    margin: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: bisque;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;

}
.buttoon{
    border: 5px;
    background-color:red;
    padding: 5px;
    cursor: pointer;

}